@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-primary-400: #c79f8b;
  --color-primary-500: #af7e70;

  --color-secondary-500: #3e2c27;
  --color-secondary-600: #2d1f1a;

  --color-tertiary-400: #ff9d00;
  --color-tertiary-500: #ff5500;

  --color-cuatro-500: #ba01d3;

  --color-noir-500: #1a1a1a;
  --color-noir-700: #131313;

  /* --color-noir-500: #1a1a1a;
  --color-noir-700: #040d08; */

  --font-one: "Didact_Gothic", sans-serif;
  --font-two: "Exo_2", sans-serif;
  --font-three: "Montserrat_Alternates", sans-serif;
  --font-cuatro: "walkway", sans-serif;

  /* Définition de l'animation */
  --animation-duration: 40s;
  --animation-direction: forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-one), sans-serif; */
}

/*! SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gris clair par défaut */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gris plus foncé au hover */
}

.custom-scrollbar {
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: #9ca3af34 transparent; /* Pour Firefox */
}

/* Custom fonts */
/* @font-face {
  font-family: "walkway-regular";
  src: url("/fonts/Walkway_Bold.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "walkway-bold";
  src: url("/fonts/Walkway_Black.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
